<ion-header no-padding>
  <ion-navbar>
    <ion-title text-center>
      Transferir a
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider color="inv-brand-logo">
      Mis cuentas
    </ion-item-divider>
    <ion-item (click)="goTo('TransferAddPage', {accountFrom: accountFrom, accountTo: thirdaccount})" *ngFor="let thirdaccount of accounts">
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2 class="inv-font-regular inf-font inv-color-gray-ligth margin-left">{{thirdaccount.payload.val().title}}</h2>
      <p class="inv-font-bold inv-color-gray-dark margin-left">{{thirdaccount.payload.val().type}}-xxxxxxx{{thirdaccount.payload.val().number}}</p>
      <ion-badge color="inv-brand-logo" item-end>{{thirdaccount.payload.val().currency}} {{thirdaccount.payload.val().balance}}</ion-badge>
    </ion-item>
    <ion-item-divider color="inv-text-light">
      Cuentas ACH
    </ion-item-divider>
    <ion-item (click)="goTo('TransferAddPage', {accountFrom: accountFrom, accountTo: thirdaccount})" *ngFor="let thirdaccount of thirdaccounts">
      <ion-avatar item-start>
        <img src="assets/imgs/{{thirdaccount.payload.val().bank}}.png">
      </ion-avatar>
      <h2 class="inv-font-regular inf-font inv-color-gray-ligth margin-left">{{thirdaccount.payload.val().title}}</h2>
      <p class="inv-font-bold inv-color-gray-dark margin-left">{{thirdaccount.payload.val().type}}-{{thirdaccount.payload.val().number}}</p>
    </ion-item>
  </ion-list>
</ion-content>